<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <listeners>
  	<listener class-name="MW.SeleniumTestFramework.TestComponens.Listeners"/>
  	  </listeners>
    <test thread-count="5" name="Submit Order Test">
    <classes>
      <class name="MW.SeleniumTestFramework.Tests.SubmitOrderTest"/>
    </classes>
  </test> <!-- Test -->
  
    <test thread-count="5" name="Error Validation Tests">
    <classes>
      <class name="MW.SeleniumTestFramework.Tests.ErrorValidationsTest"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
